*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}

form{
    width: 100%;
    max-width: 350px;
}
div.single-input{
    width: 100%;
    margin: 30px 0;
    position: relative;
}

div.single-input label{
    font-size: 16px;
    position: absolute;
    left: 0;
    bottom: 5px;
    color: rgb(150,150,150);
    cursor: text;
    transition: 0.5s ease-in-out;
}
div.single-input input{
    width: 100%;
    padding: 5px;
    color: rgb(150,150,150);
    border: 0;
    border-bottom: 2px solid rgb(200,200,200);
    outline: 0;
    font-size: 16px;
}

div.single-input .input:focus{
    border-bottom: 2px solid cornflowerblue;
}
div.single-input .input:focus,
div.single-input .input:valid{
    border-bottom: 2px solid cornflowerblue
}
div.single-input .input:focus ~ label,
div.single-input .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    font-weight: bold;
    color: cornflowerblue;
}