*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background: rgba(170, 255, 245, 0.688);
}
.grid{
    padding: 15px;
}
.grid::after{
    content: '';
    display: block;
    clear: both;
}
.grid .col{
    box-sizing: border-box;
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}
.grid .col-content{
    width: 100%;
    height: 100%;
    background: red;
}

.edita-links{
    margin: 0 auto;
    width: 100vh;
    height: 100vh;
    text-decoration: none;
    font-weight: bold;
    color: rgb(149, 101, 101);
    text-shadow: 2px 2px 2px rgb(149, 101, 101);
    border: 3px rgb(164, 118, 118) solid;
    text-align: center;
}

.bttop { 
    position: absolute;
    margin: 0 auto;
    text-decoration: none;
    border: 2px black solid;
    color: rgb(149, 101, 101);
    text-shadow: 2px 2px 2px rgb(149, 101, 101);
    font-weight: bold;
}
.edita-lorem{
    margin: 0 auto;
    background: teal;
    height: 100vh;
    width: 100vh;
}

@media all and (max-width: 568px){
    .grid .col {
        width: 100%;
    }
}
@media all and (min-width: 569px) and (max-width:768px){
    .grid .col {
        width: 50%;
    }
}
@media all and (min-width: 769px) and (max-width:1200px){
    .grid .col {
        width: 33.33%;
    }
}
@media all and (min-width: 1200px){
    .grid .col {
        width: 25%;
    }
}

