*{
    margin: 0;
    padding: 0;
}
.color-red{
    color:red
}
.main-content .heading {
    font-style: italic;
    color: red;
}

div{
    color: initial;
    margin-left: 20px ;
}
.pai >.filha > .filha{
    color: red;
}
